asgiref==3.3.1
Django==3.1.5
django-crispy-forms==1.10.0
django-debug-toolbar==3.2
django-filter==2.4.0
django-js-asset==1.2.2
django-mptt==0.11.0
djangorestframework==3.12.2
Pillow==8.1.0
psycopg2-binary==2.8.6
python-decouple==3.4
pytz==2020.5
six==1.15.0
sqlparse==0.4.1
