{% extends 'blog/base.html' %}
{% block title %}
    Add New Post
{% endblock title %}


{% block content %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}

<h1>Add Post</h1>
<br/><br/>
<div class="form-group">
<form method="post">
    {% csrf_token %}
    {{form|crispy}}
    <button class="btn btn-secondary">Post</button>
</form>
    </div>

<script>
    var name = "{{ user.id }}";
<!--    var name = "{{user.username}}";-->
    document.getElementById("forJs").value = name;
</script>
    {% else %}
    <div >
    <p class="btn btn-danger">don't play with me</p>
    </div>


    {% endif %}
    {% endblock content %}