{% extends 'core/base.html' %}

{% load i18n %}

{% block title %}
    Add New Data
{% endblock title %}


{% block content %}

<!-- <p>{% trans "Life is life." %}</p>
{% get_current_language as LANGUAGE_CODE %}
LANGUAGE_CODE: {{ LANGUAGE_CODE }} -->


<ul>
{% for data in object_list %}
<div>

<li class="mb-2">
<a href="{% url 'my_core:detail-data' data.id%}">edit </a>
<a href="{% url 'my_core:delete-data' data.id%}">delete</a>
</div>
<div>{{data.id}}</div>  <div>{{data.parent}} </div>

{% comment %} {% for elem in data.body %}
{{elem }}   
{% endfor %} {% endcomment %}

{{data.body}}


</li>
<li></li>
{% endfor %}
</ul>

   
{% comment %}   
 var name = "{{ user.id }}";
<!--    var name = "{{user.username}}";-->
    document.getElementById("forJs").value = name;
    {% endcomment %}


    {% endblock content %}