{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% block title %}
    Register
{% endblock title %}


<div class="border p-4 mb-5">
    <legend class="border-bottom pb-1 mb-3">SignUp</legend>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-secondary mt-4" type="submit" value="Register">
    </form>
    <div class="border-top mt-4 pt-2">
        <small>If U Already Have Account  <a href="{% url 'login' %}">Sign In</a></small>
    </div>
</div>
{% endblock content %}