{% extends 'core/base.html' %}
{% block title %}
    Delete Blog Post
{% endblock title %}


{% block content %}

{% comment %} {% if user.is_authenticated %} {% endcomment %}
<h1>Delete Data</h1>
<br/><br/>
<div class="form-group">
<form method="post">
    {% csrf_token %}
    <strong>Are You Sure</strong><br/><br/>
    <button class="btn btn-danger">Delete Data</button>
</form>
    </div>

{% comment %} {% else %} {% endcomment %}
{% comment %} <div >
<p class="btn btn-danger">don't play with me</p>
</div> {% endcomment %}
{% comment %} {% endif %} {% endcomment %}
{% endblock content %}