{% extends 'blog/base.html' %}
{% block content %}

<form action = "" method = "POST">
        {% csrf_token %}
    <label for="entered_val">entered_val </label>
    <input id="entered_val" type="text" name="entered_val">
   <p></p>
   {% comment %} {{entered_val}} {% endcomment %}
   <p></p>
    
   <label for="result">result </label>
   {{result}}
    {% comment %} <input id="result" type="text" name="result">  {% endcomment %}
    <p></p>
    <input type="submit" value="submit">
    <p>expected is : {{expected}}</p>
</form>

{% endblock content %}