{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block title %}
    {{ post.title_tag }}
{% endblock title %}

{% block content%}

<!--current user : {{user.id}}-->
<!--post author : {{post.author.id}}-->
<h1>{{ post.title }} </h1>

    By {{post.author}}
<!--    {{post.author.last_name}}-->
    {{post.post_date|date:'d-m-Y'}}
    {% if user.is_authenticated %}
    {% if user.id == post.author.id%}
    -
    <a href="{% url 'update-post' post.pk %}"> Update Post</a>
    <a href="{% url 'delete-post' post.pk %}"> Delete Post</a>
    {% endif %}
    {% endif %}

<hr>
<br /><br />
<a href="{% url 'home'%}" class="btn btn-secondary">back </a>

<br /><br />
<hr>
<form action="{% url 'like-or-unlike' post.id%}" method="POST">
    {% csrf_token%}
    {% if user.is_authenticated %}
    
    
    {% if request.user in post.likes.all %} 
    <button type="submit" name="post_id" value="{{post.id}}"
            class="btn btn-danger btn-sm">
        DisLke
    </button>
{% else %}
    <button type="submit" name="post_id" value="{{post.id}}"
            class="btn btn-primary btn-sm">
        Like
    </button>
    {% endif %}
    
    
    {% else %}
    <p><a href="{% url 'login'%}">login</a> must be logged in to like</p>
    {% endif %}
    {{total_likes}} likes

</form>


{% comment %}
  
 <form action="{% url 'like-post' post.pk%}" method="POST">
    {% csrf_token%}
    {% if user.is_authenticated %}
    {{ liked }}
    <button type="submit" name="post_id" value="{{post.id}}"
            class="btn btn-danger btn-sm">
        unlike
    </button>
    <button type="submit" name="post_id" value="{{post.id}}"
            class="btn btn-primary btn-sm">
        like
    </button>
    {% else %}
    <p><a href="{% url 'login'%}">login</a> must be logged in to like</p>
    {% endif %}
    {{total_likes}} likes

</form> {% endcomment %}

<div class="border p-3 mb-3">
    <img class="img-fluid rounded-circle border m-2" style="width: 70px; height:70px;"
        src="{{post.author.profile.image.url}}" alt="صورة الناشر">
    <span class="text-secondary">Postd In {{post.post_date|date:'d-m-Y'}}</span>
    <!-- Button of editing -->
    {% if post.author == user %}
    <div class="form-group btn-editing">
        <a class="btn btn-secondary" href="{% url 'update-post' post.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'delete-post' post.id %}">Delete</a>
    </div>
    {% endif %}
    <h3>{{post.title}}</h3>
    <p>{{post.content}}</p>
</div>


<!-- Display Comments -->
<h2 class="border-bottom mt-5 mb-3"> Comments  ({{comments.count}})</h2>
{% for comment in comments %}
<ul class="p-3 comment">
    <h6 class="border-bottom p-2">( {{comment.name}} ) <span
            class="text-secondary">{{comment.comment_date|date:'d-m-Y'}}</span></h6>
    {{comment.body}}
</ul>
{% empty %}
<h6 class="text-center p-4 mb-3 comment"> there's no comments </h6>
{% endfor %}

<!-- Comment Form -->
<h3 class="border-bottom pb-3 mb-3 mt-5"> Add New Comment </h3>

<div class="border p-4 mb-5 mt-4">
    <form method="POST">
        {% csrf_token %}
        {{comment_form|crispy}}
        <input class="btn btn-secondary" type="submit" value="Comment">
    </form>
</div>

{% endblock content%}