{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'crud/css/bootstrap.extension.css' %}" rel="stylesheet" type="text/css" />
    {% block stylesheet %}{% endblock stylesheet %}
    <script src="{% static 'crud/js/jquery-2.2.4.min.js' %}"></script>

    <title>
      {% comment %}     the default one unless we specify another one {% endcomment %}
            {% block title %}
            Hello, world!
            {% endblock title %}
          </title>
          
        </head>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{%url 'home'%}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
      <!--          Category Menu  Code -->
              {% if cat_menu %}
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
       {% for item in cat_menu %}
          <a class="dropdown-item"
             href="{% url 'category' item|slugify %}">
              {{item}}
          </a>
      {% endfor %}
      
      <!--          <div class="dropdown-divider"></div>-->
      <!--          <a class="dropdown-item" href="#">Something else here</a>-->
              </div>
            </li>
      {% else %}
            
            {% comment %}
              
               <li class="nav-item">
              <a class="nav-link" href="{% url 'category' %}">categories</a>
            </li>
            {% endcomment %}

              {% endif %}




              {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'add-post' %}">Add Post</a></li>

            <li class="nav-item"><a class="nav-link" href="{% url 'password_change' %}">Change Password</a></li>
      
            <li class="nav-item"><a class="nav-link" href="{% url 'favourites' %}">User favourites</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'accounts:profile' %}">User Profile</a></li>
      
              <li class="nav-item">
      <!--      django authentication already handles this for us-->
              <a class="nav-link" href="{% url 'accounts:logout' %}">Logout </a></li>
      
      {% else %}
              <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
            </li>      </li> <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
      {% endif %}
          </ul>
          <form class="form-inline my-2 my-lg-0" method="get">

            <input type="search" name="q" class="form-control mr-sm-2" placeholder="Search" aria-label="Search"required >              

            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>

            
        </div>
      </nav>
        <body>
      
        <br />
        <div class="container">
        {%block content%}
              {% endblock %}
        </div>
    <!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>  -->
    {% block javascript %}
    {% endblock javascript%}
  </body>
</html>