{% comment %}{% load post_tag %}{% endcomment %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->

    <title>
{% comment %}     the default one unless we specify another one {% endcomment %}
      {% block title %}
      Hello, world!
      {% endblock title %}
    </title>
    
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{%url 'home'%}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
<!--          Category Menu  Code -->
        {% if cat_menu %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
 {% for item in cat_menu %}
    <a class="dropdown-item"
       href="{% url 'category' item|slugify %}">
        {{item}}
    </a>
{% endfor %}

<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
      </li>
{% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'category-list' %}">categories</a>
      </li>
        {% endif %}
        {% if user.is_authenticated %}
      <li class="nav-item"><a class="nav-link" href="{% url 'add-post' %}">Add Post</a></li>

      <li class="nav-item"><a class="nav-link" href="{% url 'favourites' %}">User favourites</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">User Profile</a></li>

        <li class="nav-item">
<!--      django authentication already handles this for us-->
        <a class="nav-link" href="{% url 'logout' %}">Logout </a></li>

{% else %}
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>      </li> <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
{% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
  <body>

  <br />
  <div class="container">
  {%block content%}
        {% endblock %}
  </div>


  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>