{% extends 'blog/base.html' %}
{% block content %}
{% load poll_extras %}
<section>
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-8">
                <h2>hello django</h2>
<ul>
{%for post in object_list%}
    <li>
        <a href="{% url 'article-details' post.pk %}">
    {{post.title}}</a> -
        <a href="{% url 'category' post.category|slugify %}">{{post.category}}</a>
    {{post.author}}
    {{post.post_date}}
    {{post.body|slice:":200"}} 
    {% if user.is_authenticated %}

        {% if user.id == post.author.id%}
        <a href="{% url 'update-post' post.pk %}"> Update Post</a>
        <a href="{% url 'delete-post' post.pk %}"> Delete Post</a>
        <br />

        {% comment %}
  
        
 {% if request.user  not in post.likes.all %}  
 
        

        <form id="myformid" action="{% url 'like' post.id%}" method="POST"
        data-href="{% url 'like' post.pk %}">
        
            {% csrf_token%}
            {% if user.is_authenticated %}
            
            <input type="submit" value="Like" class="btn btn-primary btn-sm" id="like_post">

            
            
            {% else %}
            <p><a href="{% url 'login'%}">login</a> must be logged in to like</p>
            {% endif %}
            {{total_likes}} likes
        
        </form>

        
        {% else %} 
        


        <form id="dislike_form" action="{% url 'dislike' post.id%}" method="POST"
        data-href="{% url 'dislike' post.pk %}">
            {% csrf_token%}
            {% if user.is_authenticated %}
            <input value="DisLke" type="submit" class="btn btn-danger btn-sm"
            id="dislike_post">


            {% else %}
            <p><a href="{% url 'login'%}">login</a> must be logged in to like</p>
            {% endif %}
            {{total_likes}} likes
        
        </form>
        
        
    
        {% endif %}
            
        

        <script type="text/javascript">
            $('#myformid').on('submit',function(e){
                e.preventDefault();
                my_var = $(this).attr("data-href");
                dataType:  'json',       
                console.log(my_var),
                  
               
            
                $.ajax({
                    url: $(this).attr("data-href"),
                    type:'POST',
                    data:{
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        action: 'POST'
                    },
                    success:function(json){
                     console.log("u liked this post");

                     var cardItem = $('#dislike_post');
                    cardItem.css('display','block');
                    
                    var like_button = $('#like_post');
                    like_button.css('display','none');
                    console.log(cardItem);
                    console.log(like_button)

                    },
                    error : function(xhr,errmsg,err) {
                     console.log(xhr.status + ": " + xhr.responseText); 
                     // provide a bit more info about the error to the console
                }
                });
            
            
            });
            
            
    
            $('#dislike_form').on('submit',function(e){
                e.preventDefault();
                my_var = $(this).attr("data-href");
                
                dataType:  'json',       
                console.log(my_var),
                  
               
            
                $.ajax({
                    url: $(this).attr("data-href"),
                    type:'POST',
                    data:{
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        action: 'POST'
                    },
                    success:function(json){
                     console.log("u disliked this post");
                     $(form).hide();
                     //$("#myformid").addClass("hidden");

                    },
                    error : function(xhr,errmsg,err) {
                     console.log(xhr.status + ": " + xhr.responseText); 
                     // provide a bit more info about the error to the console
                }
                });
            
            
            });
            
   
            </script>
            {% endcomment %}

            {% endif %}

        {% endif %}

        <br />
<!--to display slice of body content not all of it -->

    
    </li>

{%endfor%}
{% include 'blog/pagination.html' with page=posts %}

</ul>

            </div>
            <div class="col-md-4">
                <!-- <div class="card">
                    <h3 class="text-center bg-secondary text-light p-2"> Recent Posts</h3>
                    
                    {% include "blog/latest_posts.html" %}
                        
                </div> -->
                <div class="card">
                    <h3 class="text-center bg-secondary text-light p-2"> Recent Comments</h3>
                    {% include "blog/latest_comments.html" %}

                </div>

            </div>
        </div>
    </div>
</section>


<footer class="bg-secondary">
    <div class="row">

    </div>
    <!-- <div class="row">
        <div class="col-md">
        <small class="text-light">
            @copy; all rights reserved
        </small>
            </div>
    </div> -->
</footer>

{% endblock %}