{% extends 'blog/base.html' %}
{% block content %}

<section>
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-8">
                <h2>hello django</h2>
<ul>
{%for post in object_list%}
    <li>
        <a href="{% url 'article-details' post.pk %}">
    {{post.title}}</a> -
        <a href="{% url 'category' post.category|slugify %}">{{post.category}}</a>
    {{post.author}}
    {{post.post_date}}
        {% if user.is_authenticated %}

        {% if user.id == post.author.id%}
        <a href="{% url 'update-post' post.pk %}"> Update Post</a>
        <a href="{% url 'delete-post' post.pk %}"> Delete Post</a>
        {% endif %}
        {% endif %}
        <br />
<!--to display slice of body content not all of it -->

    {{post.body|slice:":200"}}
    </li>

{%endfor%}
{% include 'blog/pagination.html' with page=posts %}

</ul>

            </div>
            <div class="col-md-4">
                <div class="card">
                    <h3 class="text-center bg-secondary text-light p-2"> Recent Posts</h3>
                    
                    
                        
                   <ul>
                    <li>
                        <a href="#"> First Post</a>
                    </li>
                    <li>
                        <a href="#"> Second Post</a>
                    </li>
                </ul>
                </div>
                <div class="card">
                    <h3 class="text-center bg-secondary text-light p-2"> Recent Comments</h3>
                </div>

            </div>
        </div>
    </div>
</section>


<footer class="bg-secondary">
    <div class="row">

    </div>
    <!-- <div class="row">
        <div class="col-md">
        <small class="text-light">
            @copy; all rights reserved
        </small>
            </div>
    </div> -->
</footer>

{% endblock %}