{% extends 'blog/base.html' %}
{% block content %}
{% load poll_extras %}
<section>
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-8">
                <h2>hello django</h2>
<ul>
{%for post in object_list%}
    <li>
        <a href="{% url 'article-details' post.pk %}">
    {{post.title}}</a> -
        <a href="{% url 'category' post.category|slugify %}">{{post.category}}</a>
    {{post.author}}
    {{post.post_date}}
    {{post.body|slice:":200"}} 
    {% if user.is_authenticated %}

        {% if user.id == post.author.id%}
        <a href="{% url 'update-post' post.pk %}"> Update Post</a>
        <a href="{% url 'delete-post' post.pk %}"> Delete Post</a>
        <br />
        {% endif %}
  
        
        <div class="right floated">
            <form action="{% url 'like-post-view' %}" method="POST" class='like-form' id='{{post.id}}'>
                {% csrf_token %}
                <input type="hidden" name="post_id" value={{post.id}}>
                
                    <button type="submit" class="ui button like-btn{{post.id}}">
                        {% if profile not in post.liked.all %}
                            Like
                        {% else %}
                            Unlike
                        {% endif %}
                    </button>
                    <!-- {{post.num_likes}} -->
                    <div class="ui grid">
                        <div class="column">
                            <div class="like-count{{post.id}}"> {{post.num_likes}} </div>
                        </div>
                        <div class="column">
                            likes
                        </div>
                    </div>
            </form>
        </div>


        {% endif %}

        <br />
<!--to display slice of body content not all of it -->

    
    </li>

{%endfor%}





<script>
    $( document ).ready(function() {
        $('.like-form').submit(function(e){
            e.preventDefault()
            
            const post_id = $(this).attr('id')
            
            const likeText = $(`.like-btn${post_id}`).text()
            const trim = $.trim(likeText)

            const url = $(this).attr('action')
            
            let res;
            const likes = $(`.like-count${post_id}`).text()
        
            const trimCount = parseInt(likes)
            
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id':post_id,
                },
                success: function(response) {
                    if(trim === 'Unlike') {
                        $(`.like-btn${post_id}`).text('Like')
                        res = trimCount - 1
                    } else {
                        $(`.like-btn${post_id}`).text('Unlike')
                        res = trimCount + 1
                    }

                    $(`.like-count${post_id}`).text(res)
                },
                error: function(response) {
                    console.log('error', response)
                }
            })

        })
    });
</script>

{% include 'blog/pagination.html' with page=posts %}

</ul>

            </div>
            <div class="col-md-4">
                <!-- <div class="card">
                    <h3 class="text-center bg-secondary text-light p-2"> Recent Posts</h3>
                    
                    {% include "blog/latest_posts.html" %}
                        
                </div> -->
                {% comment %}

                <div class="card">
                    <h3 class="text-center bg-secondary text-light p-2"> Recent Comments</h3>
                      
                    {% include "blog/latest_comments.html" %}
                    {% endcomment %}

                </div>

            </div>
        </div>
    </div>
</section>


<footer class="bg-secondary">
    <div class="row">

    </div>
    <!-- <div class="row">
        <div class="col-md">
        <small class="text-light">
            @copy; all rights reserved
        </small>
            </div>
    </div> -->
</footer>

{% endblock %}