{% extends 'base.html'%}
{% block title %}
    {{ post.title_tag }}
{% endblock title %}

{% block content%}
<!--current user : {{user.id}}-->
<!--post author : {{post.author.id}}-->
<h1>{{ post.title }} </h1>
<small>
    By {{post.author}}
<!--    {{post.author.last_name}}-->
    {{post.post_date}}
    {% if user.is_authenticated %}
    {% if user.id == post.author.id%}
    -
    <a href="{% url 'update-post' post.pk %}"> Update Post</a>
    <a href="{% url 'delete-post' post.pk %}"> Delete Post</a>
    {% endif %}
    {% endif %}
</small>
<hr>
<br />
{{post.body}}
<br /><br />
<a href="{% url 'home'%}" class="btn btn-secondary">back </a>
{% endblock content%}