{% extends 'base.html' %}
{% block title %}
    Delete Blog Post
{% endblock title %}


{% block content %}

{% if user.is_authenticated %}
<h1>Delete Post</h1>
<br/><br/>
<he>Delete: {{ post.title }}</he>
<div class="form-group">
<form method="post">
    {% csrf_token %}
    <strong>Are You Sure</strong><br/><br/>
    <button class="btn btn-danger">Delete Post</button>
</form>
    </div>

{% else %}
<div >
<p class="btn btn-danger">don't play with me</p>
</div>
{% endif %}
{% endblock content %}