{% extends 'base.html' %}
{% block content %}
<h2>hello django</h2>
<ul>
{%for post in object_list%}
    <li>
        <a href="{% url 'article-details' post.pk %}">
    {{post.title}}</a> -
        <a href="{% url 'category' post.category|slugify %}">{{post.category}}</a>
    {{post.author}}
    {{post.post_date}}
        {% if user.is_authenticated %}
        {% if user.id == post.author.id%}
        <a href="{% url 'update-post' post.pk %}"> Update Post</a>
        <a href="{% url 'delete-post' post.pk %}"> Delete Post</a>
        {% endif %}
        {% endif %}
        <br />
<!--to display slice of body content not all of it -->

    {{post.body|slice:":200"}}
    </li>
{%endfor%}
</ul>

{% endblock %}